<a href="https://colab.research.google.com/github/Aditya-y9/Python/blob/main/LabSession1_29_8_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

print("Hello World")

Hello World

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
if 2 > 1:
  print("VJTI")
else:
  print("Aditya Yedurkar")

VJTI

in python both " " ' ' and are allowed
use tab for indentation

In [ ]:
a=1
print(a , type(a))

a=1.2
print(a, type(a))

a="hello world"
print(a , type(a))

a="a"
print(a, type(a))
"""
hi hello
"""

a = int(1)
print(a)

# case sensitive

#type casting
# camel case
InstituteStudentRollNo = 221080076 # pascal case
Institute_Student_RollNo = 221080076 # snake case

a, b, c = 1, 2, 3

# a, b, c = 1, 2
# value error
# unpack


a = b = c = 1
print(a, b, c, id(a), id(b), id(c))


a, b, c = 1, 2, 3
print(a, b, c, id(a), id(b), id(c))

a = [1,2,3]
print(a, type(a))

a = [1,2,"Aditya"]
print(a, type(a))

x, y, z = a # unpacking the list
print(x,y,z)

1 <class 'int'>
1.2 <class 'float'>
hello world <class 'str'>
a <class 'str'>
1

ValueError: ignored

In [ ]:
a = "Aditya"
print("Yedurkar", a)

print(a)

print(f"the value of a = {a} and the value of b = {b}")

Yedurkar Aditya
Aditya
the value of a = Aditya and the value of b = Hi, I am Aditya. Learning PDL course in SYBTech IT Lab 2

In [ ]:
a=1
a=1.2
a="VJTI"
a=[1,2]
a= 2+4j
print(type(a))
a=range(5)
print(type(a))
a={1, 2, 3}
print(type(a))
a={1:"a", 2:"b"}
print(type(a))

<class 'complex'>
<class 'range'>
<class 'set'>
<class 'dict'>

In [ ]:
a=1
print(type(a))
b=12345467869585747547489373639567536394637844444444877777777777777
b=1e2
print(type(b))
b=1E2
print(type(b))
c = 1+20j
print(c.real , c.imag , type(c.real) , type(c.imag))

a= complex("1+2j")
print(a)

<class 'int'>
<class 'float'>
<class 'float'>
1.0 20.0 <class 'float'> <class 'float'>
(1+2j)

evaluation
100 m
40 m ese project and prog test
mini project in python
60m practical assignement daily in lab itself dotn reamin itself dont copy
python online quiz
practical programming python

In [ ]:
import math, random
help(math)
x = random.randint(1,500)
print(x)
print(math.pow(2,3))
print(math.sqrt(100))
print(random.randrange(1,500))

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)


80
8.0
10.0
271

In [ ]:
a = 'hello world'
b = "Hi, I am Aditya. Learning PDL course in SYBTech IT Lab 2"
print(a, type(a),"\n")
print(b, type(b),"\n")

hello world <class 'str'>

Hi, I am Aditya. Learning PDL course in SYBTech IT Lab 2 <class 'str'>

In [ ]:
a = "Hello World"
b = a[10]
print(b)

print("Length of a :", len(a))
x=range(0,len(a))
print(x)

for i in range(0,len(a)):
  print(i)

for i in "Hello World":
  print(i)

for i in a:
  print(i)

d
Length of a : 11
range(0, 11)
0
1
2
3
4
5
6
7
8
9
10
H
e
l
l
o

W
o
r
l
d
H
e
l
l
o

W
o
r
l
d

In [ ]:
a = "I am Aditya. I am studying in SYBTech IT"
print("Aditya" in a)
print("z" in a)

if "Aditya" in a:
  print("Present")
else:
  print("Not Present")

In [ ]:
a = "Hello World"
print(a[0:5],end=" ") # end to prevent new line.
print(a[-5:])
print(a[:5])
print(a[0:5])
print(a[:5])
print(a[6:])


print(a[0:5:2])
print(a[-5:-1:1])
print(a[-1:-6:-1])
print(a[11:5:-1])

Hello World
Hello
Hello
Hello
World
Hlo
Worl
dlroW
dlroW

In [ ]:
a = "Hello World"

# upper and lower case functions.
print(a.upper())
print(a.lower())

a = "    Aditya .    "
b = a.strip()
print(b)

HELLO WORLD
hello world
Aditya .

In [ ]:
a = "Hello World I am back"
print(a.split(" "), type(a.split(" ")))
print(a.split("I"))

# list as an output after splitting the string
#.split() take the point of split as argument but, the point of split is eliminated

['Hello', 'World', 'I', 'am', 'back'] <class 'list'>
['Hello World ', ' am back']

In [ ]:
a="amyedurkar_b22@it.vjti.ac.in"
print(a.split("@"))
b = a.split(".")
print(b , type(b))

['amyedurkar_b22', 'it.vjti.ac.in']
['amyedurkar_b22@it', 'vjti', 'ac', 'in'] <class 'list'>

In [ ]:
# escape characters
# \' \" to keep quotes in string as it is
# \r carriage return
# \b backspace
# \xhh = Hex Value
# \ooo = octal value

a = "Hello world. It \"s time to walk"
print(a)
a = "Hello world. It 's time to walk"
print(a)

Hello world. It "s time to walk
Hello world. It 's time to walk

In [ ]:
a = "Hello world, \nIt's time to walk"
print(a)

Hello world,
It's time to walk

In [ ]:
a = "Hello world \\ It it's time to walk"
print(a)
# gives single slash

Hello world \ It it's time to walk

In [ ]:
a = "Hello world \t It's time to walk"
print(a)
# tab indentation between the string \t

Hello world 	 It's time to walk

In [ ]:
a = "Hello world. \r Aditya World"
print(a)

 Sandeep World

In [ ]:
a = "Hello world\b Aditya World"
print(a)
#left character gets deleted by 1

Hello world Sandeep World

In [ ]:
a = "\x65"
print(ord("e")) 3 ord() to

101

In [ ]:
a = "\111\112\113"
print(a)
print(ord("I"))

IJK
73

In [ ]:
a = "I am Aditya , My friends name is Aditya"
b = "Aditya123"
c = "aditya"
d = "123"


print(a.count("Aditya"))
print(a.count("aditya"))
print(a.isalnum())
print(a.index("Aditya"))

print(c.isalpha())
print(a.isdigit())
#

2
0
False
5
True
False

In [ ]:
a = "Aditya$Yedurkar$VJTI"
b = a.split("$")
c = "^*".join(b)
print(c)

# syntax "separator".join(list)

Aditya^*Yedurkar^*VJTI

In [ ]:
a = "      Aditya         "
print("Hi",a.rstrip(), "How are you")
print("Hi",a.lstrip(), "How are you")

Hi       Aditya How are you
Hi Aditya          How are you

In [ ]:
a = "Aditya Yedurkar"
print(a.split())
# default splitting criteria is whitespace

['Aditya', 'Yedurkar']

In [ ]:
a = "Aditya \n Yedurkar"
print(a.splitlines())
print(a.split("\n"))

# split at new lines

['Aditya ', ' Yedurkar']
['Aditya ', ' Yedurkar']

In [ ]:
print(a.startswith("A"))
# boolean checking

print(a.endswith("r"))

print(a.find("Yedurkar"))

print(a.index("Yedurkar"))


print(a.find("Aditya1"))

print(a.index("Aditya"))


# find returns "-1" if not found

# index returns ValueError when string not found

True
True
9
9
-1
0

In [ ]:
a = "aditya my friend name is aditya"
b = a.partition("aditya")
print(b)

('', 'aditya', ' my friend name is aditya')

In [ ]:
print(a.replace("aditya","Sudarshan"))

Sudarshan my friend name is Sudarshan

In [ ]:
print(bool("False"))
print(bool(" "))
#bool()
print(bool([]))
print(bool({}))
print(bool("Hello"))
print(bool(None))

a= 1.0
print(isinstance(a,int))
# only false for zero , none , [] , {}

True
True
False
False
True
False
False

In [ ]:
print(-53//24)
print(53//24)
print(53%24)
print(-53%24)
print(2**3)
print(round(2/3 , 2))
print(212 - 32*5 / 9)


a+=10
print(a)

a/=5
print(a)

a*=5
print(a)

a = 10
a //= 5
a = a//5

a=10
a%=5
a=10
a**=5
print(a)

-3
2
5
19
8
0.67
194.22222222222223
10
2.0
10.0
100000

In [ ]:
a=2
a*= 3+4
a

a=10
a&=5
print(a)

# 1010+0101 = 1111 by XOR operations


# & ^XOR

a = 9
a>>=4
a

0

0

In [ ]:
# comparision

a=1
b=1
print(a==b)
print(a!=b)

True
False

In [ ]:
print(a<=1 and b>=1)

True

In [ ]:
print(a<10 and b>10)

False

In [ ]:
print(not(a<=1 and b>=10))

True

In [ ]:
# list

a = [1, 2, 3]
print(type(a))

# duplicate allowed

b=a
print(a,b)

c=b
print(c[0])
c[0]=100
print(a,b,c)


# the value of list remains same but it points to three variables
a = [1,2,3]
b = tuple(a)
b = list(b)

print(a,b,type(a),type(b))
b[0]=100
print(a,b,type(a),type(b))


a = [1, 2, 3]
print(a[0])
print(a[-1], a[-3])


a=list((1,2,3))
print(type(a))


a=[1,2,3,8,5]
# a = [ABC,XYZ]
print(max(a))
# print(sum(a))
print(min(a))
print(sorted(a))
print(a)
print(a*2)

<class 'list'>
[1, 2, 3] [1, 2, 3]
1
[100, 2, 3] [100, 2, 3] [100, 2, 3]
[1, 2, 3] [1, 2, 3] <class 'list'> <class 'list'>
[1, 2, 3] [100, 2, 3] <class 'list'> <class 'list'>
1
3 1
<class 'list'>
8
1
[1, 2, 3, 5, 8]
[1, 2, 3, 8, 5]
[1, 2, 3, 8, 5, 1, 2, 3, 8, 5]

In [ ]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
a = [1, 2, 3, 4]
a.insert(0, "A")
print(a)
print(len(a))
a.insert(10,"Z")
print(a)

# inseted @ last loc
a.insert(10000000000000, "Aditya")
print(a)


a.insert(2 , 100.000000678100)
print(a)


# a.insert(where, what?)

a[7]="Aditya"
print(a)


del a[0]
# del what?
print(a)

a.append(500)
print(a)
# @ last index only


a=[1, 2, 3, 4]
b=["A", "d", "i", "t", "y", "a"]

a.extend(b)
print(a,b)
print(" ".join(b))


b = ["z", "y", "x", "d"]
b.remove("y")
print(b)


print(b.pop(2))
# pops at index
print(b)



# full list will vbe cleared
b.clear()
print(b)
# prints empty list as a result

b =["a","b","c","d"]
# del b
# wont delete the whole list use clear instead.


a = [10, 20, 30, 40, 50, 20, 30]
b = ["z", "d", "g", "d", "a"]
print(b.count("d"))

print(b.count("a"))

print(b.index("d",1))
print(b.index("d",2))
print(b.index("z", 0))
# second argument to define searching space


a.sort()
# permanant sorting
print(a)


a.sort(reverse = True)
# permanant reverse sorting (descending).
print(a)

b=[1, 2, 5, 3]
# just reverses the string
b.reverse()
print(b)
a.reverse()
print(a)

help(print)

['A', 1, 2, 3, 4]
5
['A', 1, 2, 3, 4, 'Z']
['A', 1, 2, 3, 4, 'Z', 'Aditya']
['A', 1, 100.0000006781, 2, 3, 4, 'Z', 'Aditya']
['A', 1, 100.0000006781, 2, 3, 4, 'Z', 'Aditya']
[1, 100.0000006781, 2, 3, 4, 'Z', 'Aditya']
[1, 100.0000006781, 2, 3, 4, 'Z', 'Aditya', 500]
[1, 2, 3, 4, 'A', 'd', 'i', 't', 'y', 'a'] ['A', 'd', 'i', 't', 'y', 'a']
A d i t y a
['z', 'x', 'd']
d
['z', 'x']
[]
2
1
1
3
0
[10, 20, 20, 30, 30, 40, 50]
[50, 40, 30, 30, 20, 20, 10]
[3, 5, 2, 1]
[10, 20, 20, 30, 30, 40, 50]
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# loops

a = [1, 2, 3, 4]
for i in a:
  print(i,end="")
# sep and end parameters
# sep for concatenating

for i in range(len(a)):
  print(a[i],end="")


for i in (0,1,2,3,4,5):
  print(i,end="")


i=0
while i < len(a):
  print(a[i])
  i+=1 # update condn under the loop


print(list(range(5)))
print(list(range(3)))
print(list(range(0)))
print(list(range(2)))
print(list(range(0,5)))

# first in, last out

print(list(range(10,1000)))

print(list(range(500,525,-5)))

print(list(range(525,500,5)))
print(list(range(525,500,3)))
a = [10,20,34]
x = [a for i in a if i>25] # comprehension
print(x)



x = []
for i in a:
  if i>19:
    x.append(i)
print(x)

123412340123451
2
3
4
[0, 1, 2, 3, 4]
[0, 1, 2]
[]
[0, 1]
[0, 1, 2, 3, 4]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]
[]
[]
[]
[[10, 20, 34]]
[20, 34]

In [ ]:
a = [1,2,3,[3,"b","c"],100.1,"Aditya",[10,20,30]]
print(a[3])
print(a[3][2])
print(a[4])
print(a.index(3))
print(a[3].index(3))

[3, 'b', 'c']
c
100.1
2
0

In [ ]:
a =input("Enter some input: ")
print(a,type(a))


a = int(input("Enter: "))
print(a,type(a))

a = int(input())
b = int(input())
print(a+b)

Enter some inputrggt
rggt <class 'str'>
Enter678
678 <class 'int'>

In [ ]:
def add(a,b):
  return(a+b)

def add1(a,b):
  print(a+b)

print(add(9,8))
add1(9,8)


x = int(input())
y = int(input())
print(add(x,y))

17
17
9
56674674687847874486787
56674674687847874486796

In [ ]:
# tuple
x = [1,2,3]
y = (1,2,3)
print(type(x),type(y))
print(x[0],y[0])
x[0]=100
print(x)
print(y,len(y))
a=[1]
print(a,type(a))
a=(1)
print(a,type(a))
b = (1,)
print(b,type(b))
# tuple
a=(1,2,3,4)
print(a,type(a))
a=(True,False,True,True)
print(a,type(a))
a=(1,2,0,True,"x",[10,20,30],(100,200,300))
print(a,type(a))
a=tuple((1,2,3,4,5,6))
print(a,type(a))
a=tuple((1,2,3,4,5,6))
print(a,type(a))
print(a[0],a[-1])
print(a[2:4],a[-4:-1])
print(5 in a)
print(100 in a)

a=tuple((1,2,3,4,5,6))
b = list(a)
b.append(1000)

# make it to list type to append
a= (1,2,3,4,5)
b=(10,)
a+=b
print(a,b)

a=(1,2,3,4,5)
print(a*2)

# del a[0]
del b
# print(b)


a = [10,20]
x,y=a
print(a,x,y,type(a),type(x),type(y))

a=(10,20)
x,y=a
print(a,x,y,type(a),type(x),type(y))

<class 'list'> <class 'tuple'>
1 1
[100, 2, 3]
(1, 2, 3) 3
[1] <class 'list'>
1 <class 'int'>
(1,) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(True, False, True, True) <class 'tuple'>
(1, 2, 0, True, 'x', [10, 20, 30], (100, 200, 300)) <class 'tuple'>
(1, 2, 3, 4, 5, 6) <class 'tuple'>
(1, 2, 3, 4, 5, 6) <class 'tuple'>
1 6
(3, 4) (3, 4, 5)
True
False
(1, 2, 3, 4, 5, 10) (10,)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
[10, 20] 10 20 <class 'list'> <class 'int'> <class 'int'>
(10, 20) 10 20 <class 'tuple'> <class 'int'> <class 'int'>

In [ ]:
a=(10,20) # unpacking
(x,y)=a
print(a,x,y,type(a),type(x),type(y))

a=(10,20,30,40,50)
(x,y,*z)=a
print(a,x,y,z,type(a),type(x),type(y),type(z))
# (x,y,z)=a
# print(a,x,y,z,type(a),type(x),type(y),type(z))
(x,y,*z)=a
print(a,x,y,z,type(a),type(x),type(y),type(z))
(*x,)=a
(*x,)= a


a=(10,20,30,40,50)
for i in a :
  print(i)

for i in range(len(a)):
  print(a[i])

print(a*3)

(10, 20) 10 20 <class 'tuple'> <class 'int'> <class 'int'>
(10, 20, 30, 40, 50) 10 20 [30, 40, 50] <class 'tuple'> <class 'int'> <class 'int'> <class 'list'>
(10, 20, 30, 40, 50) 10 20 [30, 40, 50] <class 'tuple'> <class 'int'> <class 'int'> <class 'list'>
10
20
30
40
50
10
20
30
40
50
(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [ ]:
for i in range(len(a)):
  print(a[i])

print(a*3)
b=a*3
print(b.count(50))
print(b.count(20))
print(b.index(50))
print(b.index(50))

10
20
30
40
50
(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)
3
3
4
4

In [ ]:
# set
# no duplicate elements allowed
# it wont allow duplicate entries in set




# examples
# used to find unique words
# from nlp in website wikipedia

a = {1,2,3}
print(a,type(a))

a={1,2,1,3}
print(a,type(a))

a={True,True,False}
print(a,type(a))

a={10,2.0,"x",True,"sandeep",("l","m","n"),False,True,1000}
print(a,type(a),len(a))

a = set((1,2,3,4,5,3,1))
print(a,type(a),len(a))

# the len of the set would only be unique elements

print(1 in a)
print("1" in a)


for i in a:
  print(i)

# print(a[0])
# unique indexing so we cannot find out what is the order of the elements

a.add(100)
print(a)

a.add(100)
print(a)

b=list(a)
print(b)


a={1,2,3}
b={"x","y","z","x"}
a.update(b)
print(a,b)


a={1,2,3}
b=["x","y","x","z"]
a.update(b)
print(a,b)

b=("x","y","z")
a.update(b)
print(a,b)

a={"x",10,20.2,"Aditya"}
a.remove(20.2)
print(a)

a={"x",10,20.2,"Aditya"}
a.discard(20.2)
print(a)


a={"x",10, 20.2,"Aditya"}
a.discard(20)

a={"x",10,20.2,"Aditya"}
a.pop()
print(a)

{1, 2, 3} <class 'set'>
{1, 2, 3} <class 'set'>
{False, True} <class 'set'>
{False, True, 2.0, 'x', 'sandeep', 1000, 10, ('l', 'm', 'n')} <class 'set'> 8
{1, 2, 3, 4, 5} <class 'set'> 5
True
False
1
2
3
4
5
{1, 2, 3, 4, 5, 100}
{1, 2, 3, 4, 5, 100}
[1, 2, 3, 4, 5, 100]
{1, 2, 3, 'z', 'x', 'y'} {'y', 'z', 'x'}
{1, 2, 3, 'x', 'z', 'y'} ['x', 'y', 'x', 'z']
{1, 2, 3, 'x', 'z', 'y'} ('x', 'y', 'z')
{10, 'Aditya', 'x'}
{10, 'Aditya', 'x'}
{'Aditya', 20.2, 'x'}

In [ ]:
a={"x",10,20.2,"Aditya"}
print(a)
b=list(a)
b.pop(0)
print(b)


a={1,2,"x"}
a.clear()
print(a)

a={1,2,3}
b={"x","y","z","x",1}
c=a.union(b)
print(c)

c=a.intersection(b)
print(c)

c=a.symmetric_difference(b)
print(c)

{10, 'Aditya', 20.2, 'x'}
['Aditya', 20.2, 'x']
set()
{1, 2, 3, 'z', 'x', 'y'}
{1}
{2, 3, 'x', 'z', 'y'}

In [ ]:
# dictionaries


# ordered ,key value pairs, noduplicates

a={"day":"Tuesday","month":"October","Year":2023}
print(a,type(a),len(a))
print(a["day"],a["Year"])
text = "Hi Aditya"


# left to right assignment it will delete left most duplicate entry
a={"day":"Sunday","Month":"October","Year":2023,"day":"Sunday"}
print(a,a["day"])

a={"name":"Aditya","boolean":True,"year":2021,"sports":["cricket","football","tennis"]}
print(a,type(a))
print(a["name"])



a["name"]="VJTI"
print(a)
print(a.values(),type(a.values))

b=a.values()
print(b)

b=a.values()
print(b)
a["name"]="Mumbai"
print(a,b)

print(a.items(),type(a.items()))

a["name"]="Maharashtra"
print(a,b)

a["Country"]="India"
print(a)
print("Country" in a)
print("School" in a)


a.update({"boolean":False})
print(a)
a.update({"District":"Mumbai"})

a={"Name":"Aditya","Boolean":"False"}
print(a)
x=a.pop("Name")

print(x)

x=a.popitem()
print(x)

a={"name":"Aditya","Boolean":True,"year":2023}

for i in a:
  print(i)

for i in a:
  print(a[i])

for i in a.keys():
  print(i)
for i in a.values():
  print(i)

for i,j in a.items():
  print(i,j)

{'day': 'Tuesday', 'month': 'October', 'Year': 2023} <class 'dict'> 3
Tuesday 2023
{'day': 'Sunday', 'Month': 'October', 'Year': 2023} Sunday
{'name': 'Aditya', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']} <class 'dict'>
Aditya
{'name': 'VJTI', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']}
dict_values(['VJTI', True, 2021, ['cricket', 'football', 'tennis']]) <class 'builtin_function_or_method'>
dict_values(['VJTI', True, 2021, ['cricket', 'football', 'tennis']])
dict_values(['VJTI', True, 2021, ['cricket', 'football', 'tennis']])
{'name': 'Mumbai', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']} dict_values(['Mumbai', True, 2021, ['cricket', 'football', 'tennis']])
dict_items([('name', 'Mumbai'), ('boolean', True), ('year', 2021), ('sports', ['cricket', 'football', 'tennis'])]) <class 'dict_items'>
{'name': 'Maharashtra', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']} dict_values(['Maharashtra', True, 2021, ['cricket', 'football', 'tennis']])
{'name': 'Maharashtra', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis'], 'Country': 'India'}
True
False
{'name': 'Maharashtra', 'boolean': False, 'year': 2021, 'sports': ['cricket', 'football', 'tennis'], 'Country': 'India'}
{'Name': 'Aditya', 'Boolean': 'False'}
Aditya
('Boolean', 'False')
name
Boolean
year
Aditya
True
2023
name
Boolean
year
Aditya
True
2023
name Aditya
Boolean True
year 2023

In [ ]:
student = {
    "student1":{"name":"ABC","rn":220180076,"AY":2023},
    "student2":{"name":"ABC","rn":221080076,"AY":2022},
    "student3":{"name":"AC","rn":22080076,"AY":2022}
}

print(student)
print(student["student1"]["rn"])

student1={"name":"ABC","rn":220180076,"AY":2023}
student2={"name":"AC","rn":22080076,"A":23}
student3={"name":"AC","rn":22018076,"Y":223}

student = {
    "Student1":student1,
    "student2":student2,
    "student3":student3
  }

{'student1': {'name': 'ABC', 'rn': 220180076, 'AY': 2023}, 'student2': {'name': 'ABC', 'rn': 221080076, 'AY': 2022}, 'student3': {'name': 'AC', 'rn': 22080076, 'AY': 2022}}
220180076

In [ ]:
# conditional statements
a,b,c=1,2,3
if a<b:
  print(a)

if b<a:
  print(a)
elif c>a:
  print(c)

if a<b:print(a)

print(a) if a<b else print(b)
print(a) if a>b else print(b)



if a<b:
  pass
  print("I am pass away")


for i in range(0,5):
  if i==2:
    break
  else:
    print(i)

for i in range(0,5):
  if i==2:
    continue
  else:
    print(i)

for i in range(0,5):
  if i==2:
    pass
  else:
    print(i)


for i in range(0,5):
  if i==2:
    continue
  else:
    print(i)
else:
  print("Finish")

1
3
1
1
2
I am pass away
0
1
0
1
3
4
0
1
3
4
0
1
3
4
Finish

In [ ]:
# lambda function
# lambda arguments : function

import gtts

a= lambda x : x*2
print(a(2))

def first_function(*name):
  print("Name: "+name[0],name[1],name[2])

def first_function(fname,mname,lname):
  print("Name : "+fname,mname,lname)

first_function(fname="Aditya",mname = "Maruti",lname="Yedurkar")


def first_function():
  pass

first_function()


a=lambda x:x*2
print(a(2))

a=lambda x,y,z:x*y*z
print(a(1,2,3))

def myfunc(n):
  return lambda a:a*n

mytripler = myfunc(3)

print(mytripler(11))

4
Name : Aditya Maruti Yedurkar
4
6
33

In [ ]:
# map
import gtts

def addition(n):
  return n+n

numbers = (1,2,3,4)
result = map(addition,numbers)
print(list(result))
text = "Aditya"
language = 'en'
myobj = gtts.gTTS(text=text, lang=language, slow=False)
myobj.save("welcome1.mp3")

[2, 4, 6, 8]

Collecting gtts
  Downloading gTTS-2.3.2-py3-none-any.whl (28 kB)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.10/dist-packages (from gtts) (2.31.0)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.10/dist-packages (from gtts) (8.1.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (2023.7.22)
Installing collected packages: gtts
Successfully installed gtts-2.3.2

In [ ]:
# filter
# filters each method

def fun(variable):
  letters = ["a","e","i","o","u"]
  if (variable in letters):
    return True
  else:
    return False
# sequence
sequence = ["e","f","t","r","q","a","e","i","o"]

filtered = filter(fun,sequence)
print(filtered)

print(list(filtered))

for s in filtered:
  print(s)
seq = [0,1,2,3]
result = filter(lambda x:x%2!=0,seq)
print(list(result))


# reduce (fun,seq) function is used to apply a particular fn passed in its argument to all of the list elemtns mentioned in the sequence passed alonf this function is defined in functools modules

import functools




lis = [1,3,4,5,6]

<filter object at 0x7fae3e094c40>
['e', 'a', 'e', 'i', 'o']
[1, 3]

In [ ]:
import functools
lis = [1,3,5,6,2]

print(functools.reduce(lambda a,b:a+b,lis))


print(functools.reduce(lambda a,b:a if a>b else b,lis))

17
6

In [ ]:

def Collatz(n):

  flag1 = True
  flag2 = True
  flag3 = True


  while flag1 or flag2 or flag3:
-
    if n%2==0:
      n/=2
      print(int(n))
    else:
      n*=3
      n+=1
      print(int(n))
    if n==4:
      flag1=False
    elif n==2:
      flag2=False
    elif n==1:
      flag3=False
  # if flag4:
  #     print(1)

Collatz(10)
print()
Collatz(1)
print()
Collatz(2)

5
16
8
4
2
1

4
2
1

1
4
2

In [ ]:

def Collatz(n):

  flag1 = True
  flag2 = True
  flag3 = True
  while flag1 or flag2 or flag3:
    if n%2==0:
      n/=2
      print(int(n))
    else:
      n*=3
      n+=1
      print(int(n))
    if n==4:
      flag1=False
    elif not flag1 and n==2:
      flag2=False
    elif not flag1 and not flag2 and n==1:
      flag3=False



Collatz(10)
print()
Collatz(2)
print()
Collatz(4)

5
16
8
4
2
1

1
4
2
1

2
1
4
2
1

In [ ]:
def Collatz(n):
  li = []
  while 1==1:
    if n%2==0:
      n/=2
      print(int(n))
    else:
      n*=3
      n+=1
      print(int(n))
    if n==4:
      li.append(4)
    elif li==[4] and n==2:
      li.append(2)
    elif li==[4,2] and n==1:
      break
n = int(input("enter number: "))
Collatz(n)

enter number: 10
5
16
8
4
2
1

In [ ]:
a=[1,2,3,4]
while len(a)>1:
  a[len(a)-2]=a[len(a)-1]*a[len(a)-2]
  a.pop()
print(a[0])

24

In [ ]:
def overlap(a):
  if len(a)==1:
    print(a[0])
    return
  a[-2]=a[-1]*a[-2]
  a.pop()
  overlap(a)


a=[1,2,3,4]
overlap(a)

24

In [ ]:
def add(x,y):
  '''
  (int,int)--> int


  Return the addition of two integers

  >>> add(1,2)

  '''

  return int(x) + int(y)


print(add(100.1 , 100))
help(add)

200
Help on function add in module __main__:

add(x, y)
    (int,int)--> int


    Return the addition of two integers

In [ ]:
def abc():
  x=1
  print(x)

abc()
# print(abc())

1

In [ ]:
# scope of variable is global

# same variable name can be used
x=1
def abc():
  print(x)

abc()
x+=1
abc()

1
2

In [ ]:
x=100

def abc():
  x=1
  print(x) # local reassignment

abc()
print(x)

1
100

In [ ]:
def abc():
  global x
  x=1
  print(x)

abc()
x=100
print(x)
abc()

1
100
1

In [ ]:
import time
a=("xyz","lmn","def")
b = iter(a)
start = time.time()
print(next(b))
print(next(b))
print(next(b))
print(time.time()-start)



start1 = time.time()
for i in range(len(a)):
  print(a[i])
print(time.time()-start1)

xyz
lmn
def
0.00043129920959472656
xyz
lmn
def
0.00018739700317382812

In [ ]:
try:
  print(1/0)
except:
  print("Error: x is not defined")

Error: x is not defined

In [ ]:
try:
  # print(x1)
  print(1/0)
  print(x)
except NameError:
  print("Name: x is not defined")
except:
  print("Other Error")

Other Error

In [ ]:
try:
  # print(x1)
  print(1)
  print(x)
except:
  print("Name: x is not defined")
else:
  print("VJTI")

1
Name: x is not defined

In [ ]:
try:
  # print(x1)
  print(1/0)
  print(x)
except:
  print("Name: x is not defined")
else:
  print("VJTI")
finally:
  print("Executed on error")

Name: x is not defined
Executed on error

In [ ]:
while True:
  try:
    x = int(input("Please enter a number :"))
    break
  except ValueError:
    print("Oops that was not a valid number try again")

print(int(x))

Please enter a number :1.0
Oops that was not a valid number try again
Please enter a number :1
1

In [ ]:
try:
  x=int(input("Please enter a number: "))
  y=x/0
except ValueError:
  print("Oops! That was no valid number. Try again....")

Please enter a number: 1.2
Oops! That was no valid number. Try again....

In [ ]:
import math
def square(x):
  if int(x)==0:
    raise ValueError("input argument cannot be zero")
  if int(x)<0:
    raise TypeError("Input argument must be positive integer")
  return int(math.pow(int(x),2))

try:
  y=square(input("Please enter a number : "))
  print(y)
except(ValueError,TypeError) as e:
  print(type(e),"::",e)

Please enter a number : -3
<class 'TypeError'> :: Input argument must be positive integer

In [ ]:
x=-1
if x<0:
  raise Exception("Input argument must be positive error")

Exception: ignored

In [ ]:
import sys
randomList=["A",0,2]

for entry in randomList:
  try:
    print("The entry is : ",entry)
    r1=1/int(entry)
    print("the reciprocal of ",entry,"Is",r1)
    break;
  except:
    print(sys.exc_info())
    print("Oops!",sys.exc_info()[0],"Occured")
    print("Next entry")
    print()

The entry is :  A
(<class 'ValueError'>, ValueError("invalid literal for int() with base 10: 'A'"), <traceback object at 0x7c7a4600c6c0>)
Oops! <class 'ValueError'> Occured
Next entry

The entry is :  0
(<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x7c7a4600c6c0>)
Oops! <class 'ZeroDivisionError'> Occured
Next entry

The entry is :  2
the reciprocal of  2 Is 0.5

In [ ]:
import json

In [ ]:
import json
x={"name":"Aditya","inst":"VJTI","student":"221080076"}
y = json.loads(x)
print(y["name"])

TypeError: ignored

In [ ]:
x = {"name":"Aditya","inst":"vjti","student":221080076}
print(type(x))

y=json.dumps(x)

print(y,type(y))

<class 'dict'>
{"name": "Aditya", "inst": "vjti", "student": 221080076} <class 'str'>

In [ ]:
x = {"name":"Aditya","inst":"vjti","student":221080076}

y=json.dumps(x)

print(y,type(y))

x=[1,2,3,4]
y=json.dumps(x)
print(y,type(y))


x="Aditya"
y=json.dumps(x)
print(y,type(y))


x=21
y=json.dumps(x)
print(y,type(y))


x=True
y=json.dumps(x)
print(y,type(y))

{"name": "Aditya", "inst": "vjti", "student": 221080076} <class 'str'>
[1, 2, 3, 4] <class 'str'>
"Aditya" <class 'str'>
21 <class 'str'>